/* Muli */

@font-face {
  src: url(../assets/fonts/Muli/Muli-Regular.ttf) format('truetype');
  font-family: 'Muli';
}
@font-face {
  src: url(../assets/fonts/Muli/Muli-Black.ttf) format('truetype');
  font-family: 'Muli';
  font-weight: bold;
}
@font-face {
  src: url(../assets/fonts/Muli/Muli-Light.ttf) format('truetype');
  font-family: 'Muli';
  font-weight: lighter;
}


/* SourceSansPro */

@font-face {
  src: url(../assets/fonts/Arkhip/Arkhip_font.ttf) format('truetype');
  font-family: 'Arkhip';
}